* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

#main {
  background-color: #FFFCF1;
  padding: 10px 15px;

}

#nav {
  margin-top: -10px;
  margin-bottom: 30px;
  min-height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cardleft {
  width: 33%;
  height: 95vh;
  background-image: url(./assest/images/effect.jpg);
  border-bottom-left-radius: 20px;
  padding: 15px;
  color: #fff;
  position: relative;
  overflow: hidden;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.logo a {
  text-decoration: none;
  color: inherit;
  font-size: 25px;
  font-family: 'Times New Roman', Times, serif;
}

.logo span {
  color: orangered;
}



.card-tittle {

  text-align: center;
  line-height: 38px;
  margin-top: 1vw;
  font-size: 37px;
  font-family: serif;

}

.Subtitle {
  text-align: center;
  margin-top: 1vw;
  line-height: 22px;
}

.button-part {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  gap: 20px;

}

.navlast {
  cursor: pointer;
  border: 1px solid black;
  padding: 14px 30px;
  border-radius: 30px;
  font-size: 17px;
  margin-top: 15px;
  margin-left: 18px;
  border: none;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 8px;

}

.discord {
  height: 40px;
  width: 40px;
  border: 1px solid black;
  background-color: orangered;
  font-size: 40px;
  border-radius: 50px;
  margin-top: 18px;

}



.img {
  margin-left: 60px;
  margin-top: 30px;
}

.search {
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

}

.search i {
  font-size: 20px;
  color: black;

}




.cardright {

  width: 32%;
  height: 95vh;
  background-image: url(./assest/images/yellow\ bg\ \(1\).png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 1px;
  border-bottom-right-radius: 25px;
  padding: 25px;
  color: #fff;
  position: relative;
  overflow: hidden;
}

.navright {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.navright a {
  border-right: 1px solid black;
  padding-right: 15px;
  text-decoration: none;
  color: inherit;
  color: black;
  font-size: 21px;
}

.navright a:last-child {
  border-right: none;
}

.pizza {
  position: relative;
  z-index: 2;
  height: 42vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 50px;

}

.vege {
  margin-top: -250px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  margin-left: 160px;
  z-index: 1;
}

.bodyheading {
  text-align: center;
  margin-top: 25px;
  color: #111;
  font-size: 22px;
  line-height: 2.9vw;
}

.para {
  text-align: center;
  margin-top: 25px;
  color: #111;
  font-size: 18px;
  line-height: 1.5vw;
  font-weight: 600;
}

.buttonlast {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
  cursor: pointer;

}

.lastbutton {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  border: 1px solid black;
  padding: 17px 35px;
  background-color: #fff;
  color: #111;
  border: none;
  font-weight: 600;
  border-radius: 30px;

}

.lastbutton i {
  margin-right: 5px;
}

.navmid {
  width: 35%;
  height: 95vh;
  position: relative;
  overflow: hidden;

}

.navmid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.aboutsec {
  height: 52vh;
  display: flex;
  gap: 35px;
  padding: 10px 15px;
}

.leftabout {

  width: 35%;
}

.basket {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.leftabout h6 {
  font-weight: 600;
  letter-spacing: -1px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 27px;
}

.lining1 {
  margin-top: 5px;
  width: 28%;
  border: 0.1px solid black;
}

.midabout {
  width: 37%;
}

.chicken {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.midabout h6 {
  letter-spacing: -1px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 27px;
}

.lining2 {
  width: 29%;
  border: 0.1px solid black;
}

.rightabout {

  width: 30%;

}

.sugar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rightabout h6 {
  letter-spacing: -1px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 27px;
}

.lining3 {
  width: 29%;
  border: 0.1px solid black;
}

.innerbasket img {
  width: 171px;
  margin-left: -25px;
}

.innerbasket {
  margin-top: 14%;
  display: flex;
  justify-content: center;
}

.innerbasket h3 {
  margin-top: 15px;
  font-size: 2.3vw;
  font-family: 'Times New Roman', Times, serif;
  line-height: 30px;

  font-weight: 500;
  letter-spacing: -1px;
}

.innercontent p {
  margin-top: 16px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15.5px;
  line-height: 22px;
}

.basketlast {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.basketlast h4 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

.lining4 {
  width: 30%;
  border: 0.1px solid black;

}






.innerbasket2 img {
  width: 125px;

}

.innerbasket2 {

  margin-top: 14%;
  display: flex;
  justify-content: center;
}

.innerbasket2 h3 {
  margin-top: 15px;
  font-size: 2.3vw;
  font-family: 'Times New Roman', Times, serif;
  line-height: 30px;

  font-weight: 500;
  letter-spacing: -1px;
}

.innercontent2 p {
  margin-top: 12px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 22px;
}

.innercontent2 {
  margin-left: 23px;
}




.innerbasket3 img {
  margin-top: 20px;
  width: 90px;
  margin-left: -25px;
}

.innerbasket3 {

  margin-top: 14%;
  display: flex;
  justify-content: center;
}

.innerbasket3 h3 {
  margin-top: 15px;
  font-size: 2.3vw;
  font-family: 'Times New Roman', Times, serif;
  line-height: 30px;

  font-weight: 500;
  letter-spacing: -1px;
}

.innercontent3 p {
  margin-top: 17px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 22px;
}



.aboutsec {
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom: 2px solid #F3F1E4;
}



.lefttrending {

  margin-left: 45px;
  margin-top: 50px;

  padding: 35px;
  width: 45%;
  background-color: #FFE352;
  border-radius: 20px;
  margin-bottom: 40px;
}

.trendingcontent {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.trendingcontent h4 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 26px;
}

.imgtrending h4 {
  font-size: 20px;
}

.lining5 {
  margin-top: 8px;
  width: 30%;
  border: 0.7px solid black;
}

.trending {
  display: flex;

  padding: 20px;
  height: 100vh;
  width: 100%;
  border-radius: 50px;
  border-bottom: 2.1px solid #F1EEE1;
}

.imgtrending {
  margin-top: 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.imgtrending img {
  width: 320px;
}

.arrow {
  display: flex;
}

.arrow {
  margin-top: 60px;
  font-size: 30px;
}

.arrow h4 {
  font-size: 25px;
  margin-right: 10px;
}

.arrow i {

  border: none;
  background-color: #fff;
  padding: 15px;
  border-radius: 50px;

}

.arrow span {
  margin-top: 20px;
}




.trendingright {
  padding: 20px;
  width: 62%;
  margin-left: 75px;
  margin-right: 45px;
  margin-top: 50px;

  border-radius: 30px;
  margin-bottom: 40px;
}

.snacks h6 {
  line-height: 4.4vw;
  font-weight: 500;
  font-size: 5vw;

}

.snacks h6 span {
  font-weight: 600;
  letter-spacing: -1px;
}

.snacks .craving {
  letter-spacing: -2px;
  font-weight: 600;
  color: #7C4622;
}

.snacks p {
  margin-top: 29px;
  font-size: 20px;
}


.TasteBtn {
  display: flex;
  gap: 20px;
  align-items: center;
}

.TasteBtn h5 {
  background-color: #196D58;
  color: #fff;
  padding: 17px 35px;
  border-radius: 28px;
  font-size: 17px;
  margin-top: 40px;
  font-family: Arial, Helvetica, sans-serif;
}

.TasteBtn span {
  margin-top: 40px;
}

.TasteBtn img {
  margin-top: 5px;
  padding: 10px;
  border-radius: 50px;
  border: 1px solid black;
  background-color: #FF6B3C;
  width: 52px;
}


.classiccontent {
  position: relative;
  margin-top: 50px;
}

.classiccontent h6 {
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.4vw;
}

.classiccontent h5 {
  font-size: 2vw;
  font-weight: 500;
}

.classLine {
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.lining6 {
  margin-top: 8px;
  width: 35%;

  border: 0.7px solid black;
}

.classiccontent p {
  font-size: 20px;
  margin-top: 40px;
}

.classic {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

}

.classicImg img {
  width: 210px;

  margin-top: 20px;
}


.leftfeatured {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 20px;
  width: 40%;
  height: 78vh;
}

.featured {
  height: 89vh;
  border-bottom: 3px solid #F5F2E6;
  border-radius: 35px;
  padding: 25px;

}

.dive span {
  font-weight: 600;
}

.dive h4 {
  font-weight: 500;
  font-size: 4vw;
  line-height: 3.5vw;
}

.dive h5 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  padding: 15px;
  border-radius: 30px;
  border: 1px solid black;
  margin-top: 50px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  color: white;
  font-size: 20px;
}

.sliceDis {
  display: flex;
  gap: 30px;
}

.slice {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;

  border-radius: 50px;

  background-color: #FF6B3C;
}

.basilpasta h5 {
  margin-top: 25px;
  font-size: 2vw;
  font-family: Arial, Helvetica, sans-serif;
}

.basilpasta p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin-top: 20px;
}

.featured {
  display: flex;
}

.classicimage1 {
  display: flex;
  gap: 40px;
  position: relative;
  left: 70px;
  top: 60px;
}

.imgbox {
  width: 200px;
  height: 260px;

  background-color: #FEDB48;
  border-radius: 30px;
}

.imgbox img {

  border-radius: 20px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.classicimage1 {
  display: flex;
  gap: 40px;
  position: relative;
  left: 70px;
  top: 70px;
}

.imgbox1 {
  margin-top: -20px;
  margin-left: 30px;
  width: 260px;
  height: 160px;

  background-color: #6F3B1B;
  border-radius: 30px;
  overflow: hidden;
}

.imgbox1 img {
  margin-top: 20px;
  width: 90%;
  height: 100%;
  object-fit: cover;

}






.classicimage2 {
  display: flex;
  gap: 40px;
  position: relative;
  left: 70px;
  top: 60px;
}

.imgbox2 {
  margin-left: 50px;
  margin-top: -60px;
  width: 210px;
  height: 250px;

  background-color: #FEDB48;
  border-radius: 30px;
}

.imgbox2 img {

  border-radius: 20px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.classicimage2 {
  display: flex;
  gap: 40px;
  position: relative;
  left: 70px;
  top: 70px;
}

.imgbox3 {
  margin-top: 40px;
  width: 190px;
  height: 140px;
  background-color: #6F3B1B;
  border-radius: 30px;
  overflow: hidden;
}

.imgbox3 img {


  width: 100%;
  height: 100%;
  object-fit: cover;

}

.foodflavour {

  padding: 45px;

}

.leftflavour {
  display: flex;
  margin-left: 10px;
  justify-content: space-between;
  padding: 20px;
  width: 54%;
  height: 70vh;


}

.lining7 {
  width: 100px;
  border: 0.5px solid black;
}

.divflavour1 {
  display: flex;
  align-items: center;
  gap: 20px;
}

.divflavour1 h1 {
  font-size: 22px;
  font-weight: 500;
}

.flavorpartl img {
  margin-top: 40px;
  width: 260px;
  height: 380px;
  object-fit: cover;
  border-radius: 20px;
}

.flavorpartr1 img {
  margin-top: 8px;
  width: 200px;

  border-radius: 15px;
}

.flavorpartr1 h4 {
  font-size: 30px;
  margin-top: 25px;
}

.flavorpartr1 p {
  font-size: 16px;
  margin-top: 17px;
  font-family: Arial, Helvetica, sans-serif;
}

.flavorpartr2 {
  display: flex;
  align-items: center;
  gap: 20px;
}

.flavorpartr {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.callicon img {
  width: 50px;
  background-color: #FF6B3C;
  padding: 10px;
  border: 1px solid black;
  border-radius: 50px;
}

.flavorpartr2 button {
  font-weight: bold;
  font-size: 14px;
  background-color: #196D58;
  color: white;
  padding: 15px 30px;
  border: 1px solid black;
  border-radius: 30px;
}

.foodflavour {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}


.rightflavour {
  padding: 20px 60px;
  width: 46%;
  height: 70vh;

}

.rightflavour1 {
  margin-right: 30px;
}

.rightflavour1 h4 {
  line-height: 50px;
  font-size: 4.5vw;
  font-weight: 500;
}

.rightflavour1 span {
  color: #FE5E37;
}

.lining8 {
  margin-top: 50px;
  width: 73%;
  border: 1px solid #F5F2E8;

}


.rightflavour {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.rightflavour2 p {
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
}

.rightflavourpart1 {
  display: flex;
  align-items: center;
  gap: 20px;
}

.rightflavour2 {
  margin-right: 70px;
}

.rylicicon .star {
  color: #FE8306;
  font-size: 20px;
}

.rightflavourpart1 {
  margin-bottom: 38px;
}

.rightflavourpart1 h4 {
  font-size: 1.7vw;
  font-family: Arial, Helvetica, sans-serif;
}

.foodflavour{
  border-bottom: 3px solid #F5F2E8 ;border-radius: 2%;
}



.bite{

  margin-top: 2vw;
height: 140vh;
position: relative;
padding: 25px;
}
.bite h3{
  font-weight: bold;
  color: #FF8436;
  margin-top:2vw;
text-align: center;
font-size: 2vw;
font-family:fantasy;
}
.bite h2{
font-weight: 500;
line-height: 3.3vw;
  margin-top: 0px;
  font-size: 4vw;
  text-align: center;
}



.leftbook img{
  margin-top: 30px;
  width: 210px;
  height: 140px;
border-radius: 18px;
  object-fit:cover;
}
.leftbook p{
  margin-top: 12px;
  font-size: 17px;
  font-family:Arial, Helvetica, sans-serif;
}
.leftbook{
  position: relative;
  margin-left: 15px;
;
}
.cookbook{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.circle-wrap{ 
  width: 230px;
  height: 160px;
  position: relative;
}

.circle-wrap svg{
  width: 100%;
  height: 100%;
}

.center-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2vw;
  font-weight: bold;
}


.midbook{
position: absolute;
top: 45%;
left: 50%;
 transform: translate(-50%,-50%);
}
.midpart1{

  width: 450px;
  height: 450px;
  margin-top: 30px;
  background-color: #FF8436;

  border-radius: 50%;

}

.midbook img{
 width: 540px;
  position: absolute;
  z-index: 4;
  left: 50%;
  top: 28%;
  transform: translate(-50%,-50%);

}



.fuel{
width: 104%;
height: 50%;
margin-left: -23.5px;
  position: relative;
overflow: hidden;
  top: 10.3%;
  z-index: 5;
     border-radius: 20px;
}

.bgimg{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.fuel img{
  position: relative;
  object-fit: cover;
    width: 104%;
    height: 102%;
}
.fuel h4{
  font-family: Arial, Helvetica, sans-serif;
  position:absolute;
  top: 33%;
  left: 50%;
  transform: translate(-50%,-50%); color: white;
  font-size: 1.6rem;
z-index:2 ;
}
.fuel h1{
  position:absolute;
  text-align: center;
  top: 53%;
  left: 50%;
  font-weight: 500;
  transform: translate(-50%,-50%); color: white;
  font-size: 4.6rem;
  line-height: 5vw;
  margin-top: 10px;
z-index:2 ;

}

.fuel h1 span{
  color: #85FE76;
}


.fuel .fuelButton{
  position: absolute;
  top: 86%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 2.5vw;
  color: #fff;
}

.fuelButton{
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  gap: 20px;
}
.fuelButton h6{
  border: 1px solid black;
  border-radius: 30px;
  padding: 16px 20px;
  background-color: #fff;
  color: black;
}
.fuelButton span i{
margin-right: 10px;
}

.iconfuel{
  display: flex;
  align-items: center;

  justify-content: center;
width: 60px;
height: 60px;
  padding: 17px;
  background-color: #FE6B3D;
  border-radius: 50%;
}

.smallimgfuel img{
  width: 60px;
  height: 60px;
background-color:yellow;
  border-radius: 50%;
}
.smallimgfuel{
  position: absolute;
  top: 16%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.smallimgfuel span{
  width: 70px;
  height: 70px;
margin: -10px;
  border-radius: 50%;
}

.smallimgfuel .img1fuuel{
background: #004A35;
 width: 58px;
 background:yellow;
 padding: 5px;
  height: 58px;
}


.fuelimglefttop img{
  position: absolute;
  width: 160px;
  height: 120px;
  top: -5%;
  left: 8%;
}
.fuelimgrightbottom{
   position: absolute;
  width: 150px;
  height: 120px;
  top: 80%;
  left: 80%;
}
.fuelimglefttbottom{
  position: absolute;
  width: 150px;
  height: 120px;
  top: 80%;
  left: 0%;
}

.footer{
  padding: 40px 0px;
  display: grid;
grid-template-columns: 1.5fr 1fr 1fr 1fr;

}

.footer-col{
  display: flex;
gap: 15px;
  flex-direction: column;
}
.footer-col h3{
  font-size: 3rem;
  font-weight: 500;
  color: #196D58;
}
.footer-col span{
  color: #FE5E37;
}
.footer-col p{
  font-size: 1.7rem;
}

.footer-col h4{
  font-size: 1.8rem;

}

.footer-col .footer2{
font-size: 1.3rem;
}