* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}
#main{
  background-color:#FFFCF1;
  padding: 10px 15px;

}
#nav{
  margin-top: -10px;
margin-bottom: 30px;
min-height: 100vh;
position: relative;
display: flex;
align-items: center;
justify-content: space-between;
}
.cardleft{
  width: 33%;
  height: 95vh;
 background-image:url(./assest/images/effect.jpg);
   border-bottom-left-radius: 20px;
  padding: 15px;
  color: #fff;
  position: relative;
  overflow: hidden;
}

.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
.logo a{
  text-decoration: none;
  color: inherit;
  font-size: 25px;
  font-family:'Times New Roman', Times, serif;
}
.logo span{
color: orangered;
}

.cardbody{

}
.card-tittle{

    text-align: center;
    line-height: 38px;
    margin-top: 1vw;
    font-size: 37px;
    font-family:serif;

}
.Subtitle{
  text-align: center;
    margin-top: 1vw;
 line-height: 22px;  
}

.button-part{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  gap: 20px;
  
}
.navlast{
  cursor: pointer;
  border: 1px solid black;
  padding: 14px 30px;
  border-radius: 30px;
  font-size: 17px;
  margin-top: 15px;
  margin-left: 18px;
  border:none;
 font-weight: bold;
 display: flex;
 align-items: center;
    gap: 8px;

}

.discord{
  height: 40px;
  width: 40px;
 border: 1px solid black;
  background-color: orangered;
    font-size: 40px;
    border-radius: 50px;
    margin-top: 18px;
    
}
.dis-icon{
 
 

}
.img{
margin-left: 60px;
margin-top: 30px;
}
.search{
  width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    
}
.search i{
    font-size: 20px;
    color: black;
    
}




.cardright{

  width: 32%;
  height: 95vh;
  background-image:url(./assest/images/yellow\ bg\ \(1\).png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
margin-bottom: 1px;
   border-bottom-right-radius: 25px;
  padding: 25px;
  color: #fff;
  position: relative;
  overflow: hidden;
}

.navright{
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}
.navright a{
  border-right: 1px solid black;
   padding-right: 15px;
   text-decoration: none;
   color: inherit;
   color: black;
   font-size: 21px;
}
.navright a:last-child{
  border-right: none;
}

.pizza{
   position: relative;
 z-index: 2;
  height: 42vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 50px;
 
}
.vege{
margin-top: -250px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  margin-left: 160px;
  z-index: 1;
}

.bodyheading{
  text-align: center;
  margin-top: 25px;
  color: #111;
  font-size: 22px;
  line-height: 2.9vw;
}
.para{
  text-align: center;
  margin-top: 25px;
  color: #111;
  font-size: 18px;
  line-height: 1.5vw;
  font-weight: 600;
}

.buttonlast{
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
  cursor: pointer;
  
}
.lastbutton{
  font-family:Arial, Helvetica, sans-serif;
  font-size: 17px;
  border: 1px solid black;
  padding: 17px 35px;
  background-color: #fff;
  color: #111;
  border: none;
  font-weight: 600;
  border-radius: 30px;
    
}
.lastbutton i{
 margin-right: 5px;
}

.navmid{
  width: 35%;
  height: 95vh;
  position: relative;
  overflow: hidden;
  
}

.navmid img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.aboutsec{
height: 52vh;
  display: flex;
  gap: 35px;
  padding: 10px 15px;
}

.leftabout{

  width:35%;
}
.basket{
display: flex;
  align-items: center;
justify-content: space-between;
}

.leftabout h6{font-weight: 600;
    letter-spacing: -1px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 27px;
}

.lining1{
  margin-top: 5px;
  width: 28%;
  border: 0.1px solid black;
}

.midabout{
  width: 37%;
}
.chicken{
  display: flex;
  align-items: center;
justify-content: space-between;
}
.midabout h6{
  letter-spacing: -1px;
    font-family:Arial, Helvetica, sans-serif;
  font-size: 27px;
}
.lining2{
  width:29% ;
  border: 0.1px solid black;
}

.rightabout{
 
  width: 30%;

}
.sugar{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.rightabout h6{
  letter-spacing: -1px;
    font-family:Arial, Helvetica, sans-serif;
  font-size: 27px;
}
.lining3{
  width:29% ;
  border: 0.1px solid black;
}
 
.innerbasket img{
    width: 171px;
    margin-left: -25px;
}

.innerbasket{
  margin-top: 14%;
  display: flex;
justify-content:center;
}
.innerbasket h3{
  margin-top: 15px;
  font-size: 2.3vw;
  font-family: 'Times New Roman', Times, serif;
  line-height: 30px;
  
  font-weight: 500;
  letter-spacing: -1px;
}

.innercontent p{
margin-top: 16px;
font-family:Arial, Helvetica, sans-serif;
font-size: 15.5px;
line-height: 22px;
}

.basketlast{
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.basketlast h4{
  font-family:Arial, Helvetica, sans-serif;
font-size: 18px;
}
.lining4{
  width: 30%;
  border: 0.1px solid black;

}






.innerbasket2 img{
    width: 125px;

}

.innerbasket2{

  margin-top: 14%;
  display: flex;
justify-content:center;
}
.innerbasket2 h3{
  margin-top: 15px;
  font-size: 2.3vw;
  font-family: 'Times New Roman', Times, serif;
  line-height: 30px;
  
  font-weight: 500;
  letter-spacing: -1px;
}

.innercontent2 p{
margin-top: 12px;
font-family:Arial, Helvetica, sans-serif;
font-size: 16px;
line-height: 22px;
}
.innercontent2{
  margin-left: 23px;
}




.innerbasket3 img{
  margin-top: 20px;
 width: 90px;
    margin-left:-25px;
}

.innerbasket3{

  margin-top: 14%;
  display: flex;
justify-content:center;
}
.innerbasket3 h3{
  margin-top: 15px;
  font-size: 2.3vw;
  font-family: 'Times New Roman', Times, serif;
  line-height: 30px;
  
  font-weight: 500;
  letter-spacing: -1px;
}

.innercontent3 p{
margin-top: 17px;
font-family:Arial, Helvetica, sans-serif;
font-size: 16px;
line-height: 22px;
}
.innercontent3{
  /* margin-left: 23px; */
}

.aboutsec{
border-bottom-right-radius: 15px;
border-bottom-left-radius: 15px;
  border-bottom: 2px solid #F3F1E4;
}



.lefttrending{
 
  margin-left: 45px;
  margin-top: 50px;

  padding: 35px;
  width: 40%;
  background-color: #FFE352;
  border-radius: 20px;
  margin-bottom: 40px;
}

.trendingcontent{
  display: flex;
align-items: center;
justify-content: space-between;
}

.trendingcontent h4{
font-family:Arial, Helvetica, sans-serif;
  font-size: 26px;
}

.imgtrending h4{
  font-size: 20px;
}

.lining5{
  margin-top: 8px;
  width: 30%;
  border: 0.7px solid black;
}
.trending{
  display: flex;
  
    padding: 20px;
  height: 100vh;
  width: 100%;
  border-radius: 50px;
  border-bottom:2.1px solid #F1EEE1;
}

.imgtrending{
  margin-top: 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.imgtrending img{
  width: 320px;
}

.arrow{
  display: flex;
}
.arrow{
  margin-top: 60px;
  font-size: 30px;
}
.arrow h4{
  font-size: 25px;
  margin-right: 10px;
}
.arrow i{
  
  border: none;
background-color: #fff;
  padding: 15px;
  border-radius: 50px;

}
.arrow span{
  margin-top: 20px;
}




.trendingright{
  padding: 35px;
  width: 62%;
    margin-left: 45px;
    margin-right: 45px;
  margin-top: 50px;
  background-color: orange;
  border-radius: 30px;
  margin-bottom: 40px;
}

.sna